@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    box-sizing: border-box;
}
.return{
    position: absolute;
    left: 20px;
    width: 40px;
    top: 21px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px;
    border-radius: 50%;
    transition: background-color 0.5s;
}

.return:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.figures{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figures__title{
    margin-top: 20px;
}

.figures__options{
    width: 100%;
    margin: 20px 0px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
}

.figures__list{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.figures__options a{
    display: flex;
    height: 100%;
}

.figures__list-c img{
    width: 95%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.figures__list-t a:hover img, .figures__list-s a:hover img{
    width: 90%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.operations{
    margin-bottom: 10px;
    height: 100%;
}

.operations__titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.operations .operations__title{
    font-size: 22px;
    text-align: center;
    width: 90%;
}

.operations .operations__measure{
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.operations__circle-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operations__circle-form input{
    width: 60%;
    margin: 10px 0px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0);
    font-weight: bolder;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 16px;
}

.operations__circle-form input::placeholder{
    color: rgba(255, 255, 255, 0.4);
    font-weight: bolder;
}

.operations__circle-form_button{
    margin-top: 20px;
    width: 92%;
    display: flex;
    justify-content: space-around;
}

.operations__circle-form_button button{
    width: 150px;
    padding: 5px 0px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    border-radius: 6px;
    transition: color 0.6s;
}

.operations__circle-form_button button:hover{
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: rgb(27, 255, 225);
}

.operations__result{
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 20px;
}

.operations__explication{
    font-size: 20px;
    margin: 20px 0px;
    margin-top: 60px;
    text-align: center;
}

.operations__explication_both{
    display: flex;
    justify-content: space-around;

}

.operations__explication_perimeter, .operations__explication_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 160px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.credits{
    margin-top: 20px;
    padding: 15px 0px;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    width: 100%;
}